# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Rust. Copied form servo/serve-http
w*~
*.dSYM/
*.swp
src/bolt/generated/
bin/
build/
TAGS
doc/bolt/
doc/src/bolt/
lib/
.rust/

#emacs
*.*~
*~